# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# IDE files
.idea/
*.sublime-workspace
*.sublime-project

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest
.cache

# Other
*.log
*.sqlite3
